@import "reset";


$Forum: 'Forum', cursive;
$Lato: 'Lato', sans-serif;

  .container {
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
  }

/*    Benefits   */
.benefits{
    margin-top: -28px;
    padding-left: 150px;
    padding-right: 150px;
}
.benefits__container{
    border-radius: 32px;
    background-color: rgba(248, 248, 248, 1);
    padding: 126px 188px 161px 126px;
}
.benefits__head {
text-align: left;
margin-left: 11px;
margin-right: 49px;
}
.benefits__head__title {
    font-family: $Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
    color: #5B7542;
}
.benefits__head__text {
    font-family: $Forum;
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
    margin-bottom: 141px;
    position: relative;
}
.benefits__head__text::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    transform: translate(0, 70px);
    border-bottom: 1px solid #3E8982;
    max-width: 1112px;
    width: 100%;
}
.benefits__pluses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-left: 11px;
    column-gap: 118px;
}
.benefits__plus {
    text-align: left;
}
.plus__title {
    font-family: $Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
}
.plus__text {
    font-family: $Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #2F2F2F;
}
.benefits__btn {
    border: none;
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-family: Lato;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.01em;
text-align: left;
text-decoration: none;
color: #3E8982;
margin-bottom: 126px;
}
.benefits__btn:hover {
    color: rgba(63, 184, 173, 1);
}
.benefits__btn:active {
    color: rgba(69, 69, 69, 1);
}
.benefits__btn__arrow {
    line-height: 22px;
    padding-top: 5px;
    fill: #473e89;
}
