@import "reset";


$Forum: 'Forum', cursive;
$Lato: 'Lato', sans-serif;

  .container {
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;

    @media (min-width: 769px) and (max-width: 1440px) {
        max-width: 1270px;
    }
    @media (min-width: 321px) and (max-width: 768px) {
        max-width: 766px;
    }
    @media (max-width: 320px) {
        max-width: 318px;
    }
  }
  /*   Header   */
  .header {
  padding-top: 81px;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media (min-width: 769px) and (max-width: 1440px) {
    padding-top: 60px;
}

      /*@media (min-width: 321px) and (max-width: 768px) {
       display: none;
       }*/

background-color: rgba(0, 0, 0, 0.5);


&__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

   
&__logo {
    display: inline-block;
    width: 96px;
    height: 49px;
    align-items: center;
    justify-content: center;

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    @media (min-width: 321px) and (max-width: 1440px) {
        width: 72px;
        height: 37px;
    }
    @media (max-width: 320px) {
        max-width: 30px;
        max-height: 16px;
}
}
}

&__profile__logo {
    display: inline-block;
    max-width: 70px;
    max-height: 70px;
    align-items: center;
    justify-content: center;
    
    &__img {
        height: 100%;
        width: 100%;
        transition: all .3s ease-in-out;

        &:hover {
            fill: #e8665f;
            transform: scale(1.2);
        }
        &:active {
            fill: #E71414;
        }
    }
    @media (min-width: 769px) and (max-width: 1440px) {
            max-width: 45px;
            max-height: 45px;
    }
    @media (min-width: 321px) and (max-width: 768px) {
            max-width: 40px;
            max-height: 40px;
    }
    @media (max-width: 320px) {
        max-width: 24px;
        max-height: 24px;
}
}

&__head__navbar {
    
    @media (max-width: 768px) {
        display: none;
    }
}

&__menu {
    display: flex;
    column-gap: 60px;

&__link {
    text-decoration: none;
    font-family: $Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    transition: all .3s ease-in-out;
    position: relative;
    
    @media (min-width: 769px) and (max-width: 1440px) {
        font-size: 12px;
        line-height: 18px;
    }
    
    &::after {
        position: absolute;
        content: "";
        left: -2px;
        top: 100%;
        width: 0%;
        //border-bottom: 2px solid transparent;
        border-radius: 4px;
        transition: all .3s ease-in-out;
        z-index: -1;
    }
    
    &:hover::after {
        border-bottom: 2px solid #e8665f;
        width: calc(100% + 4px);
    }
    
    &:active::after {
        border-bottom: 2px solid #E71414;
        width: calc(100% + 4px);
    }
    
    &:hover {
        color: #e8665f;

        }
        &:active {
        color: #E71414;
        }
    }
}
&__hamburger {
    display: none;

    &__lines svg{
    width: 100%;
    height: 100%;
    }

    @media (min-width: 321px) and (max-width: 768px) {
        display: block;
    }
    @media (max-width: 320px) {
        display: block;
        max-width: 22px;
        max-height: 15px;
    }
}
}
