@charset "UTF-8";
/* Указываем box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class], ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input, button, textarea, select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .container {
    max-width: 1270px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 766px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 318px;
  }
}

/*   Header   */
.header {
  margin-top: 81px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .header {
    margin-top: 70px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .header {
    position: absolute;
    margin-top: 50px;
  }
}
.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__head__logo {
  display: inline-block;
  width: 96px;
  height: 49px;
}
.header__head__logo__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header__head__logo {
    width: 72px;
    height: 37px;
  }
}
@media (max-width: 767px) {
  .header__head__logo {
    max-width: 30px;
    max-height: 16px;
  }
}
.header__profile {
  display: flex;
  max-width: 70px;
  max-height: 70px;
}
.header__profile__img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.header__profile__img:hover {
  fill: #e8665f;
  transform: scale(1.2);
}
.header__profile__img:active {
  fill: #E71414;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .header__profile {
    max-width: 45px;
    max-height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header__profile {
    max-width: 40px;
    max-height: 40px;
  }
}
@media (max-width: 767px) {
  .header__profile {
    max-width: 24px;
    max-height: 24px;
  }
}
@media (max-width: 1439px) {
  .header__head__navbar {
    display: none;
  }
}
.header__menu {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header__menu__link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
  transition: all 0.3s ease-in-out;
  position: relative;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .header__menu__link {
    font-size: 12px;
    line-height: 18px;
  }
}
.header__menu__link::after {
  position: absolute;
  content: "";
  left: -2px;
  top: 100%;
  width: 0%;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.header__menu__link:hover::after {
  border-bottom: 2px solid #e8665f;
  width: calc(100% + 4px);
}
.header__menu__link:active::after {
  border-bottom: 2px solid #E71414;
  width: calc(100% + 4px);
}
.header__menu__link:hover {
  color: #e8665f;
}
.header__menu__link:active {
  color: #E71414;
}
.header__hamburger {
  display: none;
}
.header__hamburger__lines svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header__hamburger {
    display: block;
  }
}
@media (max-width: 767px) {
  .header__hamburger {
    display: block;
    max-width: 22px;
    max-height: 15px;
  }
}/*# sourceMappingURL=style.css.map */